/**************************************/
/*       BASE
/**************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #FFEB00;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}



/**********************************************/
/*          Portion
***********************************************/
#inscriptionContainer, #rechercheContainer, #contactContainer {
    /*margin-top: 200px;*/
}

.ls-header {
    width: 100%;
    height: 120px;
    display: inline-block;

    background-color: #333;
    position: fixed;
    top:0;
    left: 0;

}

.ls-header img, .ls-header h1 {
    display: inline-block;
    vertical-align: middle;
}

.ls-header img {
    padding: 12px 20px 10px 25px;
}

.ls-header h1 {
    padding-left: 25%;
    text-transform: uppercase ;
    color:  #FFEB00;
}

.ls-nav {
    width: 100%;
    margin: 4.5vh auto 0;
    background-color: #333;
    position: fixed;
    top:93px;
    left:0;

}
.ls-nav a {
    padding: 10px;
    width: 30.9%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:#fdfffd;
}

.ls-container {
    width: 960px;
    min-height: 10vh;
    margin: 155px auto 150px auto;
    border-top: 2px #FFEB00 solid;
    border-radius: 0 0 25px 25px;
    background-color: #333;
    padding: 20px;
}

.ls-container h2 {
    color: #FFEB00;
    text-align: center;
}

.ls-container form {
    /*display: inline-block;*/
    vertical-align: baseline;
    /*text-align: center;*/
    /*margin-left: 30%;*/

}

.ls-container label {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px #FFEB00 solid;
    background-color: #FFEB00 ;
    padding: 10px;
    text-align: center;
}
.ls-container input {
    width:  200px;
    padding: 10px;

    /*margin-left: 26%;*/

    border: 4px #FFEB00 solid;
    background-color: #cec8c8;
}

.ls-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333 ;
    padding: 10px;
    color: #FFEB00;
}

#inscription, #recherche, #contact {
    position: absolute;
    top:150px;
    left:0;
}

/*****************************************/
/*          Module
/****************************************/

button {
    width: 228px;
    padding: 10px;
    background-color: #FFEB00;
    border-radius: 15px 0 15px 0;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.supprimer {
    background-color: black;
    color: white;
}

.ajouter, .rechercher {
    border: 3px black solid;
}

.active {
    background-color: #FFEB00;
    border: 2px #333 solid;
    color: #333 !important;
    font-weight: bold;

}

.mix {
    width: 100%;
}

.containerRecherche {
    margin-left: 15%;
}

.containerAffichage {
    margin-left: 26%;
}
table {
    width: 100%;
    margin-left: -123px;
}
table, td, th {
    border: 1px white solid;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th{
    color: #FFEB00;
}
td{
    color: #white;
}


.texteRecherche {
    text-align: left;
    color: #fefefe;
    width: 38%;
    margin-left: 31%;
    background-color: #333;
    padding: 15px;
    border-radius: 15px;
}

#liSuppr {
    padding: 15px;
    list-style: none;

}

.paragraphe {
    margin-left: 200px;
    margin-top: 60px;

}

.paragraphe h2{
    text-align: left;
}
.paragraphe ul {
    color: white;
    padding-left: 0;
}


/*Page inscription*/
/*.nomClass {*/
    /*margin-right: 37px;*/
/*}*/
/*.prenomClass {*/
    /*margin-right: 16px;*/
/*}*/

#homeContainer {
    display: block;
}

#inscriptionContainer {
    display: none;
}


#rechercheContainer {
    display: none;
}

#contactContainer {
    display: none;
}

#homeContainer p {
    color: yellow;
    text-align: center;
}

#homeContainer span {
    font-size: 60px;
    color: yellow;
}
#homeContainer span {
     font-size: 60px;
     color: yellow;
 }



/*#error {*/
    /*display: none;*/
/*}*/

/*****************************************/
/*          EVENEMENT
/****************************************/

/*#Container .mix{*/
    /*display: none;*/
/*}*/

.effacer {
    display: none;
}

.restaurer {
    display: block;
}



