/**
 * Created by Stéphanie on 23/11/2015.
 */

.container{
    width: 960px;
    margin: 0 auto;
}

.box{
    background-color: #881a6a;
    width: 200px;
    margin: 0 auto;
    border: 2px #333 solid;
    margin-top: 15%;
    padding: 20px;

}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    border: 1px #333 solid;
    padding: 10px;
}

.right {
    /*display: inline-block;*/
    float: right;
}

.btn {
    padding: 10px;
}
.clear {
    clear:both;
}

.selected {
    background-color: #88f;
}

.poubelle {
    display: none;
}
