/**************************************/
/*       BASE
/**************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #FFEB00;
}



/**********************************************/
/*          Portion
***********************************************/
.ls-header {
    width: 100%;
    height: 120px;
    display: inline-block;

    background-color: #333;

}

.ls-header img, .ls-header h1 {
    display: inline-block;
    vertical-align: middle;
}

.ls-header img {
    padding: 12px 20px 10px 25px;
}

.ls-header h1 {
    padding-left: 25%;
    text-transform: uppercase ;
    color:  #FFEB00;
}

.ls-nav {
    width: 1000px;
    margin:10vh auto 0;
    background-color: #333;

}
.ls-nav a {
    padding: 10px;
    width: 30.9%;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:#fdfffd;
}





.ls-container {
    width: 960px;
    min-height: 50vh;
    margin:0 auto;

    border-top: 2px #FFEB00 solid;
    border-radius: 0 0 25px 25px;
    background-color: #333;

    padding: 20px;
}

.ls-container h2 {
    color: #FFEB00;
    text-align: center;
}

.ls-container form {
    /*display: inline-block;*/
    vertical-align: baseline;
    /*text-align: center;*/
    margin-left: 30%;

}

.ls-container label {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px #FFEB00 solid;
    background-color: #FFEB00 ;
    padding: 10px;
    text-align: center;
}
.ls-container input {
    width:  200px;
    padding: 10px;

    /*margin-left: 26%;*/

    border: 4px #FFEB00 solid;
    background-color: #cec8c8;
}

.ls-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333 ;
    padding: 10px;
    color: #FFEB00;
}

/*****************************************/
/*          Module
/****************************************/

button {
    width: 228px;
    padding: 10px;
    background-color: #FFEB00;
    border-radius: 15px 0 15px 0;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.supprimer {
    background-color: black;
    color: white;
}

.ajouter, .rechercher {
    border: 3px black solid;
}

.active {
    background-color: #FFEB00;
    border: 2px #333 solid;
    color: #333 !important;
    font-weight: bold;

}

.mix {
    width: 100%;
}

.containerRecherche {
    margin-left: 15%;
}

.containerAffichage {
    margin-left: 26%;
}
table {
    width: 100%;
    margin-left: -123px;
}
table, td, th {
    border: 1px white solid;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th{
    color: #FFEB00;
}
td{
    color: #333;
}


.texteRecherche {
    text-align: center;
    color: #fefefe;
}

.paragraphe {
    margin-left: 200px;
    margin-top: 60px;

}

.paragraphe h2{
    text-align: left;
}
.paragraphe ul {
    color: white;
    padding-left: 0;
}





/*****************************************/
/*          EVENEMENT
/****************************************/

#Container .mix{
    display: none;
}

.effacer {
    display: none;
}

.restaurer {
    display: block;
}



